/*
        ----Typografy:

            -FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
            
            -Font-Wight:
             -Light: 500 ok
             -Medium : 600
             -Bold : 700

            -Letter Spacing:
             - -0.5px
             - 1.3px


            -Line Height:
                -Default: 1
                - 1.05



        ---- Colors:
            -Color Palete:
              -Primary color: #8d8daa;
              -Accent: #6464aa;
              -Greys:
#FBD6D2,F190B7,CE49BF,A63EC5
            -Tints & Shades 
                -Tin: 
                -Shades: 
            https://colorhunt.co/palette/fbd6d2f190b7ce49bfa63ec5
        ----Shadow:
        ----Border: 
        ---- White space:
            SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

        */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}

.main-container {
  margin: auto;
}
.box {
  max-width: 100%;
  margin: 0 auto;
}
h2 {
  text-align: center;
  font-size: 3.6rem;
  color: #444;
  margin-bottom: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #8d8daa;
}
.btn {
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

/* .mb-lg {
  margin-bottom: 16rem;
} */
.mb-md {
  margin-bottom: 8rem;
}
.mb-sm {
  margin-bottom: 4rem;
}
.ml-lg {
  margin-left: 5rem;
}
.mr-lg {
  margin-right: 5rem;
}
.pt-lg {
  padding-top: 16rem;
}
.pb-lg {
  padding-bottom: 16rem;
}
.pt-md {
  padding-top: 12rem;
}
.pb-md {
  padding-bottom: 12rem;
}

.pd{
  padding:0 3rem;
}



/* .colored-div {
  background-color: black;
  /* background-color: rgb(129, 129, 168); */
/* background-image: url(./Images/girl-beach.jpg); */
/* background-image: url(./Images/pinkWall.jpg); 
  
  background-size: cover;
  grid-column: 5 / span 1;
  grid-row: 1 / span2;

  position: relative;
} */

.sign-in-btn-container {
  position: absolute;
  top: 2rem;
  left: 7rem;
}
